1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

3.What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans. In pandas, a DataFrame is a two-dimensional data structure that is similar to a table or a spreadsheet. It consists of rows and columns, where each column can hold data of different types (e.g., numeric, string, boolean, etc.). The DataFrame is one of the primary data structures in the pandas library and provides a convenient way to store, manipulate, and analyze data.

On the other hand, a pandas Series is a one-dimensional labeled array that can hold any data type. It is similar to a column in a DataFrame or a single column of data in a spreadsheet. Each element in a Series is associated with a unique label called an index. The Series provides a powerful and flexible container for handling data.

Here's an example to illustrate the difference between a DataFrame and a Series:

3. Create a Pandas DataFrame that contains the following data:

In [5]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [4]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['John', 'Jane', 'Sara'],
        'Age': [25, 30, 28],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

print(df)

   Name  Age      City
0  John   25  New York
1  Jane   30    London
2  Sara   28     Paris

5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas provides a wide range of functions and methods to manipulate data in a DataFrame. Here are some common functions you can use:

In [7]:
#head(): Returns the first n rows of the DataFrame. It is useful to quickly inspect the data and get a sense of its structure.
import pandas as pd

# Creating a DataFrame
data = {'Name': ['John', 'Jane', 'Sara'],
        'Age': [25, 30, 28],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

print(df.head(2))

   Name  Age      City
0  John   25  New York
1  Jane   30    London

In [9]:
#info(): Provides a summary of the DataFrame, including the data types, number of non-null values, and memory usage. It helps in understanding the overall structure of the data.
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

In [10]:
#describe(): Generates descriptive statistics of numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, quartiles, and maximum. It gives a quick summary of the central tendency, dispersion, and shape of the distribution of a dataset.
print(df.describe())

             Age
count   3.000000
mean   27.666667
std     2.516611
min    25.000000
25%    26.500000
50%    28.000000
75%    29.000000
max    30.000000

In [11]:
#value_counts(): Computes the frequency of unique values in a column. It is useful for understanding the distribution of categorical variables.
print(df['City'].value_counts())

New York    1
London      1
Paris       1
Name: City, dtype: int64

In [12]:
#sort_values(): Sorts the DataFrame by one or more columns. It allows arranging the data in ascending or descending order based on specified criteria.
print(df.sort_values('Age', ascending=False))

   Name  Age      City
1  Jane   30    London
2  Sara   28     Paris
0  John   25  New York

6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans:
In pandas, both Series and DataFrame are mutable in nature, meaning you can modify their contents after they are created. On the other hand, the Panel data structure has been deprecated since pandas version 0.20.1 and is no longer actively supported. The recommended approach for handling three-dimensional data in pandas is to use the MultiIndex DataFrame.

To summarize:

Series: Mutable
DataFrame: Mutable
Panel: Deprecated (not actively supported)
Therefore, out of the options given (Series, DataFrame, Panel), Series and DataFrame are mutable in nature.

7. Create a DataFrame using multiple Series. Explain with an example.

Ans:
To create a DataFrame using multiple Series, you can combine the individual Series objects into a single DataFrame. Each Series will represent a column in the resulting DataFrame. Here's an example to illustrate the process:

In [13]:
import pandas as pd

# Creating individual Series
name_series = pd.Series(['John', 'Jane', 'Sara'])
age_series = pd.Series([25, 30, 28])
city_series = pd.Series(['New York', 'London', 'Paris'])

# Creating DataFrame using the Series
data = {'Name': name_series, 'Age': age_series, 'City': city_series}
df = pd.DataFrame(data)

print(df)

   Name  Age      City
0  John   25  New York
1  Jane   30    London
2  Sara   28     Paris